[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #1C1536;
    --md-typeset-a-color: #8A73D6; /* Softer link color for dark mode */
}

[data-md-color-scheme="default"] {
    --md-primary-fg-color: #1C1536;
}

.md-header {
    background-color: #1C1536 !important;
}
